/* reset */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}
ul {
    list-style: none;
}
img {
    display: block;  
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* general */
:root {
    --black-color: #111111;
    --dark-violet-color: #1E1823;
    --orange-color: #FD9222;
    --milk-color: #FAFAFA;
    --light-orange: #FCF1E0;
    --white-color: #FFFFFF;
    --background-color: #E2E2E2;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color);
}
.container {
    max-width: 428px;
    margin-left: 20px;
    margin-right: 20px; 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1135px;
    }
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Header */
/* .header {
    display: flex;
    align-items: center;

}
.page-nav {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 19px;
}
.logo1 { 
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;      
        letter-spacing: -0.03em;
        color: var(--black-color);
}
.logo2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.03em;

}
.nav-list {
    display: none;
}
.icon-logo {
    display: flex;
    align-items: center; }

/* Hero */
/* Advantages */
.advantages-section{
    padding-top: 20px;
    padding-bottom: 36px;
    height: 792px;
    background-color: var(--dark-violet-color);
}

@media screen and (min-width: 768px) {
    .advantages-section {
        padding-top: 20px;
        padding-bottom: 36px;
        height: 620px;
        }
}
@media screen and (min-width: 1200px) {
        .advantages-section {
                padding-top: 50px;
                padding-bottom: 50px;
                height: 344px;
            }
}

.advantages-icon-item {
    fill: var(--orange-color);
    width: 62px;
        height: 62px;
    
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 365px;
    
}
.advantages-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.7);;

}
.advantages-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height:1.2;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);;
}
/* Unique components */
/* How its made? */
/* Our products */
/* Top sellers */
/* Reviews */
 /* Subscribe */
 /* Footer */
 /* Modal */
 /* Buy now */
  /* Leave a review about our chocolate */
  /* Explore our new chocolate first */
