/* reset */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

@media screen and (min-width: 320px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* general */
:root {
    --black-color: #111111;
    --dark-violet-color: #1E1823;
    --orange-color: #FD9222;
    --milk-color: #FAFAFA;
    --light-orange: #FCF1E0;
    --white-color: #FFFFFF;
    --background-color: #E2E2E2;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color);
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Header */
/* .header {
    display: flex;
    align-items: center;

}
.page-nav {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 19px;
}
.logo1 { 
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;      
        letter-spacing: -0.03em;
        color: var(--black-color);
}
.logo2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.03em;

}
.nav-list {
    display: none;
}
.icon-logo {
    display: flex;
    align-items: center; }

/* Hero */
/* Advantages */
.advantages-section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 36px;
    background-color: #1E1823;
}

@media screen and (min-width: 768px) {
    .advantages-section {
        padding-top: 20px;
        padding-bottom: 36px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 320px) {
    .advantages-container {
        width: fit-content;
        padding-left: 20px;
        padding-right: 47px;
    }
}

@media screen and (min-width: 375px){
    .advantages-container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 47px;
    }
}

@media screen and (min-width: 768px) {
    .advantages-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 0px;
    }


}

@media screen and (min-width: 1200px) {
    .advantages-container {
        max-width: 1200px;
        padding-left: 50px;
        padding-right: 50px;
    }

} 

.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding-left: 0;
    }

    .advantages-item {
        flex-basis: calc(50% - 60px);
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list {
        align-items: flex-start;
        flex-direction: row;
        gap: 70px;
        padding-left: 0;
        flex-wrap: nowrap;
    }

    .advantages-item {
        position: relative;
    }

    .advantages-item::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -18px;
        transform: translateY(-50%);
        height: 124px;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    .advantages-item:last-child::after {
        display: none;
    }
}

.advantages-icon {
    width: 62px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.advantages-icon-item {
    fill: #FD9222;
    width: 28px;
    height: 28px;

}

.advantages-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 22px;
    padding-bottom: 18px;

}

.advantages-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
/* ljgjdyryyz */
/* Unique components */
/* How its made? */
/* Our products */
/* Top sellers */
/* Reviews */
 /* Subscribe */
 /* Footer */
 /* Modal */
 /* Buy now */
  /* Leave a review about our chocolate */
  /* Explore our new chocolate first */
